/*
Pomodoro Timer
*/ 

body {
	background-color: lightgrey;
}

h1 {
	text-align: center;
	font-size: 65px;
}

.settings {
	background-color: darkgrey;
	height: 120px;
	width: 500px;
	margin: 50px auto 50px auto;
	border-radius: 15px;
}

.settings p {
	margin: 10px auto;
}

.session, .break {
	display: inline-block;
	height: 120px;
	width: 245px;
	text-align: center;
	font-size: 35px;
}

.break {
	float: right;
}

.session-edit, .break-edit {
	display: inline-flex;
	align-items: center;
}

.settings input {
	margin: auto 10px;
	height: 40px;
	width: 40px;
}

input:hover {
	background-color: white;
}

.timer input {
	margin: auto;
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-left: 10%;

}

.timer {
	background-color: darkgrey;
	height: 300px;
	width: 500px;
	margin: auto;
	border-radius: 15px;
}

#current-timer {
	font-size: 45px;
	text-align: center;
	margin: 10px auto;
}

.time {
	text-align: center;
	font-size: 100px;
	margin: 10px auto;
}